* {
  margin: 0;
  padding: 0;
}


.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;

  .loader {
    position: absolute;
    margin: 0;
    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
  }

  .bg-loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #1818189a;
    pointer-events: none;
    cursor: none;
    z-index: 2;
  }
}


