* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
}

.main {
  background-color: #252525;
  color: #fff;
  min-height: 100vh;
  animation: show linear 0.5s;
}

.loader {
  margin: 0;
  left: calc(50vw - 100px);
  top: calc(50vh - 100px);
}

@keyframes show {
  0% {
    /* transition: opacity 1s ease; */
    opacity: 0;
  }

  100% {
    /* transition: opacity 1s ease; */
    opacity: 1;
  }
}
